@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&family=Signika+Negative&display=swap');

body{
    background: linear-gradient(68.15deg, #23282f 16.62%, #5f528e 85.61%);
    font: normal 15pt arial;

}

header{
    color: rgb(250, 245, 245);
    text-align: center;
}

main{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(41, 38, 236, 0.966);
}

.escolha {
    font-family: cursive;
}

.botao-calcular {
    background-color: #ebb88e;
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    font-family: 'verdana';
    font-style: italic ;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.30);
    
}

.resultado {
    font-family: cursive;
    font-size: 20px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}
