body{
    background: url(solar-eclipse.jpg);

}

header{
    color: rgb(250, 245, 245);
    font: normal 15pt arial;
    text-align: center;
}

main{
    display: block;
    background: rgb(236, 234, 234, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    text-align:center;
    width: 500px;
    height: 225px;
    box-shadow: 5px 5px 5px #036bf4;
}

.escolha {
    font-family: cursive;
    font-size: 20px;
}
.escolha:hover{
    cursor: pointer;
}

.section-resultado{
    font-family: cursive;
    font-size: 20px;
    margin-bottom: 50px;
}

.resultado{
    font-size: 20px;

}

a {
    background: rgb(236, 234, 234, 0.5);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #036bf4;
    padding: 15px 10px;
    margin-top: 30px;
    color: #070707;
    font-family: Arial;
    font-size: 20px;
    font-weight:  bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;

}

a:hover {
    color: #070707;
    background-color: azure;
    box-shadow: 0 0 5px #03a8f4,
                0 0 20px #03a8f4,
                0 0 35px #03a8f4,
                0 0 50px #03e9f4;
}

.section-botão {
    display: flex;
    justify-content: center;
    
}

.rodape{
    margin-top: 20%;
    color: white;
    text-align: center;
    font-style: italic;
}
