@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&family=Signika+Negative&display=swap');

body{
    background: url(solar-eclipse.jpg);
    font: normal 15pt arial;

}

header{
    color: rgb(250, 245, 245);
    text-align: center;
}

main{
    
    background: rgb(236, 234, 234, 0.5);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 200px;
    margin: auto;
    box-shadow: 5px 5px 5px #036bf4;
}

.escolha {
    font-family: cursive;
    font-size: 20px;
}
.escolha:hover{
    cursor: pointer;
}

a {

    
    background: rgb(236, 234, 234, 0.5);
    border-radius: 10px;
    display: inline-block;
    padding: 15px 10px;
    margin: 30px 0vh;
    color: #070707;
    font-size: 20px;
    font-weight:  bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;

}

a:hover {
    color: #070707;
    background-color: azure;
    box-shadow: 0 0 5px #03a8f4,
                0 0 20px #03a8f4,
                0 0 35px #03a8f4,
                0 0 50px #03e9f4;
}



.resultado {
    font-family: cursive;
    font-size: 20px;
}

.rodape{
    margin-top: 30%;
    color: white;
    text-align: center;
    font-style: italic;
    
}
